{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Reset password{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form action="{{ url_for('auth.reset_password', token=token) }}" method="POST">
      {% for field in form %}
        <div class="form-group">
          {% if field.widget.input_type != 'hidden' %}
            {{ field.label }}
          {% endif %}
          {{ field(class_="form-control") }}
        </div>
      {% endfor %}
      <input type="submit" value="Reset" class="btn btn-primary"/>
    </form>
{% endblock %}
