{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ _('Edit') }} "{{ task['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container task-list-form">
    <form method="post">
      {% include 'task/form.html' %}
      <a class="btn btn-dark" href="{{ url_for('task.list') }}" onclick="return confirm('{{ _('Are you sure?') }}');">{{ _('Cancel') }}</a>
      <input class="btn btn-primary" type="submit" value="{{ _('Save') }}">
    </form>
    <hr>
    <form action="{{ url_for('task.delete', id=task.id) }}" method="post">
      <input class="btn btn-danger" type="submit" value="{{ _('Delete') }}" onclick="return confirm('{{ _('Are you sure?') }}');">
    </form>
  </div>
{% endblock %}