{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ _('Dashboard') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container-fluid dashboard">
    <div class="button-menu">
      <form action="{{ url_for('dashboard.index') }}" method="post" class="mt-2">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="input-group mb-3">
          <input class="form-control datepicker" id="dp" name="calendar-date" type="text" value="{{ session['calendar-date'].strftime('%Y-%m-%d') }}">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">{{ _('Submit') }}</button>
          </div>
        </div>
        <script src="{{ url_for('static', filename='datepicker.js') }}"></script> 
      </form>       
    </div>
    <div class="row">
      <div class="col-md-12 mt-2">
        <div class="card">
          <div class="card-header">{{ _('Plans for ') }} {{ session['calendar-date'].strftime('%Y-%m-%d') }}</div>
          <ul class="list-group list-group-flush">
            {% if daily_plans %}
              {% for plan in daily_plans %}
                <li class="list-group-item"><a href="{{ url_for('plan.update', id=plan[0].id )}}">{{ plan[0].name }}</a></li>
              {% endfor %}
            {% else %}
              <li class="list-group-item">{{ _('No plans')}}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>       
    <div class="row">
      <div class="col-md-12 mt-4">
        <div class="card">
          <div class="card-header">{{ _('Monthly plans') }} {{ session['calendar-date'].strftime('%Y-%m') }}</div>
          <div class="card-body">
            <div class="table-responsive">
              {{ calendar | safe }}
            </div>
            {% for i in range(end_day) %}
              <div class="card mt-2 display-none calendar-day-card" id="calendar_day{{ i + 1}}">
                <div class="card-header">{{ session['calendar-date'].strftime('%Y-%m') + '-%d' % (i+1) }}</div>
                <div class="card-body">
                  <a href="{{ url_for('plan.create', plan_date=session['calendar-date'].strftime('%Y-%m') + '-%d' % (i+1)) }}" class="btn btn-success" role="button">{{ _('Add New') }}</a>
                </div>
              </div>
            {% endfor %}
            <script src="{{ url_for('static', filename='calendar_tasks.js') }}"></script>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="row">
      <div class="col-md-6 mt-2">
        <h2>{{ _('Shopping Lists') }}</h2>
        <hr>
        <a href="{{ url_for('shopping_list.create') }}" class="btn btn-success mb-2" role="button">{{ _('Add New') }}</a>
        <div class="accordion">
          {% for shopping_list in shopping_lists %}
            <div class="card mt-2">
              <div class="card-header" id="shopping_list_heading{{ shopping_list[0].id }}">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#shopping_list{{ shopping_list[0].id }}" aria-expanded="true" aria-controls="shopping_list{{ shopping_list[0].id }}">
                    {{ shopping_list[0].name }}
                  </button>
                </h5>
              </div>
              <div id="shopping_list{{ shopping_list[0].id }}" class="collapse {{ 'show' if loop.first else '' }}" aria-labelledby="shopping_list_heading{{ shopping_list[0].id }}" data-parent="#accordion">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">{{ _('Created') }} {{ shopping_list[0].created_at_in_local_tz }}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{ _('Last Updated') }} {{ shopping_list[0].last_updated_at_in_local_tz }}</h6>
                  <ul>
                    {% for shopping_item in shopping_list[0].shopping_items %}
                      <li>{{ shopping_item.name }}</li>
                    {% endfor %}
                  </ul>
                  <hr>
                  <a class="btn btn-primary mt-1" href="{{ url_for('shopping_list.update', id=shopping_list[0].id) }}">{{ _('Edit') }}</a>
                  <a class="btn btn-primary mt-1" href="{{ url_for('shopping_list.shopping_items', id=shopping_list[0].id) }}">{{ _('Edit Items') }}</a>
                  <form class="d-inline-block" action="{{ url_for('shopping_list.delete', id=shopping_list[0].id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input class="btn btn-danger mt-1" type="submit" value="{{ _('Delete') }}" onclick="return confirm('{{ _('Are you sure?') }}');">
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}          
        </div>
      </div>
      <div class="col-md-6 mt-2">
        <h2>{{ _('Tasks') }}</h2>
        <hr>
        <a href="{{ url_for('task.create') }}" class="btn btn-success mb-2" role="button">{{ _('Add New') }}</a>
        <div class="accordion">
          {% for task in tasks %}
            <div class="card mt-2">
              <div class="card-header" id="task_heading{{ task[0].id }}">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#task{{ task[0].id }}" aria-expanded="true" aria-controls="task{{ task[0].id }}">
                    {{ task[0].name }}
                  </button>
                  <span class="priority alert alert-{{ task[0].priority_in_css_class }}" >{{ task[0].priority_name }}</span>
                </h5>
              </div>
              <div id="task{{ task[0].id }}" class="collapse {{ 'show' if loop.first else '' }}" aria-labelledby="task_heading{{ task[0].id }}" data-parent="#accordion">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">{{ _('Created') }} {{ task[0].created_at_in_local_tz }}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{ _('Last Updated') }} {{ task[0].last_updated_at_in_local_tz }}</h6>
                  <p>
                    {{ task[0].description }}
                  </p>
                  <hr>
                  <a class="btn btn-primary mt-1" href="{{ url_for('task.update', id=task[0].id) }}">{{ _('Edit') }}</a>
                  <form class="d-inline-block" action="{{ url_for('task.delete', id=task[0].id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input class="btn btn-danger mt-1" type="submit" value="{{ _('Delete') }}" onclick="return confirm('{{ _('Are you sure?') }}');">
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}          
        </div>
      </div> -->
    </div>

  </div>
{% endblock %}
