{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Shopping Items{% endblock %}</h1>
{% endblock %}


{% block content %}
  <div class="container shopping-list">
    <div class="button-menu">
      <form action="{{ url_for('shopping_list.create_shopping_list_item', id=shopping_list.id) }}" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.name.label }}
          <div class="input-group">
            {{ form.name(class_="form-control") }}
            <div class="input-group-append">
              <input class="btn btn-success" type="submit" value="Add">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="table-responsive">
      <table class="table table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          {% for shopping_item in shopping_items %}
            <tr scope="row">
              <td>{{ shopping_item.name }}</td>
              <td class="text-right">
                <form action="{{ url_for('shopping_list.delete_shopping_list_item', id=shopping_item.id) }}" method="post">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                   <input type="hidden" id="shopping_list_id" name="shopping_list_id" value="{{ shopping_item.shopping_list.id }}">
                </form>              
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {{ pagination.info }}
    {{ pagination.links }}
  </div>
{% endblock %}

