{% for field in form %}

  {% if field.widget.input_type == 'checkbox' %}
    <div class="form-check">
      {{ field(checked=task.finished, class_="form-check-input") }}
      {{ field.label(class_="form-check-label") }}
    </div>
  {% elif field.id == 'dp' %}
    <div class="form-group">
      {{ field.label }}
      {{ field(class_="form-control datepicker") }}
    </div>
  {% else %}
    <div class="form-group">
      {% if field.widget.input_type != 'hidden' %}
        {{ field.label }}
      {% endif %}
      {{ field(class_="form-control") }}
    </div>
  {% endif %}

{% endfor %}
<script src="{{ url_for('static', filename='datepicker.js') }}"></script>
<label for="tasks">{{ _('Tasks') }}</label>
<div class="form-group input-group">
  <select name="tasks" class="form-control tasks-dropdown">
    {% for task in tasks %}
      <option value="{{ task.id }}"> {{ task.name }}</option>
    {% endfor %}
  </select>
  <select name="task_start_time" class="form-control input-group-append">
    {% for i in range(24) %}
      <option value="{{ i }}"> {{ "0%d" % (i) if i < 10 else i }}:00</option>
    {% endfor %}
  </select>    
  <div class="input-group-append">
      <input class="btn btn-success task-add-btn" type="button" value="{{ _('Add') }}">
  </div> 
</div>

