<h3>{{ _('Task List') }}</h3>
<input type="hidden" class="translation" value="{{ _('Remove') }}" />
<table id="task_list" class="table table-bordered mt-task-table">
	<tr>
		<th>{{ _('Task') }}</th>
		<th>{{ _('Start Time') }}</th>
		<th>{{ _('Duration') }}</th>
		<th></th>
	</tr>
	{% for task in plan.plan_tasks %}
		<tr>
			<td><input type="hidden" name="selected_tasks[]['task_id']" value="{{ task.task_id }}" />
			<a href="{{ url_for('task.update', id=task.task_id )}}">{{ task.task.name }}</a></td>
			<td>
				<input type="hidden" name="selected_tasks[]['start_time']" value="{{ task.start_time }}" />
				{% if task.start_time < 10 %}
					0{{ task.start_time }}:00 h
				{% else %}
					{{ task.start_time }}:00 h
				{% endif %}
				
			</td>
			<td>{{ task.task.duration / 60 }} h</td>
			<td class="text-right"><input class="btn btn-danger task-remove-btn" type="button" value="{{ _('Remove') }}"></td>
		</tr>
	{% endfor %}
</table>
<script src="{{ url_for('static', filename='tasks_form.js') }}"></script>
